<html>
<head>
    <title>Tamagotchi Creation</title>
<head>
<body>
    <h1>You added a Tamagotchi!</h1>
    <p>{{ newpet.getPetName }}</p>
    <p><a href="/">View your list of places you've been.</a></p>
</body>
</html>
