<!DOCTYPE html>
<html>
<head>
    <title>Pet Tamagotchi</title>
</head>
<body>
    <h1>Your Pets</h1>
        {% if pets is not empty %}
            <p>Here are your Pets</p>
            <ul>
                {% for pet in pets %}
                    <li>Name: {{ pet.getPetName }}</li>
                    <p>Food: {{ pet.getFood }}</p>
                    <p>Rest: {{ pet.getRest }}</p>
                    <p>Attention: {{ pet.getAttention }}</p>
                {% endfor %}
            </ul>
        {% endif %}

      <form action='/pets' method="post">
          <label for='name'>Name Your Tamagotchi</label>
          <input id='name' name='name' type='text'>

          <button type='submit' class='btn-info'>Add Pet</button>
      </form>
      <form action='/delete_pets' method='post'>
          <button type='submit' class='btn-danger'>delete</button>
      </form>
</body>
</html>
